* {
  box-sizing: border-box;
}
:root {
  --primary-color: #1ebfc1;
}
html {
  font-size: 62.5%;
}

/* khôi phục cỡ chữ mặc định tính theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ===================Common================ */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.btn {
  width: 108px;
  height: 48px;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #494949;
  text-align: center;
}
/* =================Header========================= */
.header {
  background: #fff;
}
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -44px;
}
.header .body {
  display: flex;
  justify-content: space-around;
  padding-top: 64px;
  align-items: center;
}
.header .nav ul {
  display: flex;
}
.header .nav a {
  padding: 0 39px;
  color: #2f3a3b;
  line-height: normal;
}
.header .nav a:hover {
  box-shadow: 0 2px 0 #2f3a3b;
  text-shadow: 1px 0 0 currentColor;
}
.header .link-auth .btn {
  width: 108px;
  height: 48px;
  cursor: pointer;
}
.header .link-auth .btn:hover {
  text-shadow: 0 0 0 #1ebfc1;
  color: var(--primary-color);
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}
/* ============Hero================= */
.hero {
  padding-top: 50px;
}
.hero .body {
  display: flex;
}
.hero .hero-left {
  width: 50%;
  margin-top: 143px;
}
.hero .hero-left .desc {
  color: #767e7e;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
}
.hero .hero-left .heading {
  color: #0d1111;
  width: 458px;
  font-size: 6.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16; /* 116.129% */
  margin-top: 18px;
}
.hero .hero-left .desc-bottom {
  width: 374px;
  color: #9da6a5;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77; /* 177.778% */
  margin-top: 46px;
}
.hero .hero-left .hero-action {
  display: flex;
  margin-top: 52px;
}
.hero-left .hero-action .btn-primary {
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: #1ebfc1;
  line-height: 68px;
  text-align: center;
  color: #ffffff;
}
.hero-left .hero-action .btn-primary:hover {
  opacity: 0.8;
}
.hero-left .hero-action .btn-play {
  width: 62px;
  height: 62px;
  border-radius: 62px;
  background: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.hero-left .hero-action .btn-play:hover {
  box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.1);
}
/* Hero Right */
.hero .hero-right {
  width: 50%;
  position: relative;
}
.hero .hero-right .img-hero {
  width: 576px;
  height: 631px;
  object-fit: cover;
}
.hero .hero-right .course-media {
  position: absolute;
  width: 157px;
  height: 75px;
  top: 149px;
  left: -96px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-right .course-media .book {
  width: 36px;
  height: 40px;
  margin-right: 16px;
}
.hero-right .course-media .book::before {
  position: absolute;
  content: "";
  bottom: 26px;
  width: 28px;
  height: 4px;
  background: #ffffff;
  border-radius: 999px;
  left: 24px;
}
.hero-right .media-schedules {
  display: inline-flex;
  flex-direction: column;
  width: 124px;
  height: 132px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  bottom: 46px;
  left: -62px;
}
.hero-right .media-schedules .text-schedules {
  color: #0d1111;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 16px 35px;
}
.hero-right .media-schedules .media-summary {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
